input{
    border: 1px solid black;
    margin: 10px;
    width: 350px;
    height: 30px;
}

#btn,#btn2{
    width: 70px;
    height: 30px;
    border: 1px solid black;
}

#output{
    font-family: 'Arial';
    font-size: 1.2rem;
}



/* ----------------------------------- */

#container{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#cardFirst{
    width: 400px;
    min-height: 250px;
    height: auto;
    font-size: 1.2rem;
    background: rgb(197, 197, 197);;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

#textVerse{
 
}





#btns{
    width: 400px;

    display: flex;
    justify-content: center;

}

.buttons{
    width: 50%;
    height: 40px;
}