@font-face {
    font-family: Play;
    src: url(../fonts/Play-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play-Regular.ttf);
    font-weight: 200;
}

*{
    font-family: Play;
    box-sizing: border-box;
}

body{
   
    min-height: 100vh;
   height: auto;
   overflow-y: scroll;
   overflow-x: hidden;

   scrollbar-width: 0;
   scrollbar-color: blue;
}

  body::-webkit-scrollbar {
    /* height: 12px; */
    width: 0px;

  }
  body::-webkit-scrollbar-track {
    
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
    
  }




input{
    border: 1px solid black;
    margin: 10px;
    width: 350px;
    height: 30px;
}

#btn,#btn2{
    width: 70px;
    height: 30px;
    border: 1px solid black;
}

#output{
    font-family: 'Arial';
    font-size: 1.2rem;
}



/* ----------------------------------- */

#container{
    width: 100vw;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#4138B7,#AD66B2);
}


.coverCard{
    box-shadow: 1px 10px 20px rgba(0, 0, 0,0.4);

    margin: 20px; 
    margin-top: 50px;
    margin-bottom: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
   transition: box-shadow .5s ease-in-out;
}
.coverCard:hover{
    box-shadow: 1px 10px 20px rgba(0, 0, 0,0.6);
}

#cardFirst{
    width: 400px;
    min-height: 250px;
    height: auto;
    font-size: 1.2rem;
    background: rgb(116, 57, 172);;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 15px;

    padding: 15px 10px;
}

#textVerse{
    font-size: 1.4rem;
}

#srcVerse{
    font-size: 1.5rem;
    border-bottom: 2px solid #ffd5dc;
    --webkit-border-bottom: 2px solid #ffd5dc;
    /* --webkit-border-bottom: 2px solid rgb(255, 213, 220); */
    padding-bottom: 5px;
}

#srcList{
    width: 400px;
    min-height: 30px;
    font-size: 1.4rem;
    background: rgb(243, 199, 255);
    color: #000;

    --webkit-color:#000;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    column-gap: 15px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

#srcListImg,#srcListTitle{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#srcListImg > img{
    width: 20px;
}

#imgSrc{
    transition: transform 0.3s ease-in-out;
}

#btns{
    width: 400px;

    display: flex;
    justify-content: center;
   
}

.buttons{
    width: 50%;
    height: 50px;
    font-size: 1.3rem;
    

    border-bottom-left-radius: 10px;
    border-right: 1px solid rgb(185, 185, 185);
}
.buttons:nth-child(2){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-right: 0px solid black;
    border-left: 1px solid rgb(119, 119, 119);
}
#arrowTitleCont{
    width: 400px;
    min-height: 40px;
    font-size: 1.3rem;
    background: rgb(255, 255, 255);
    --webkit-background: rgb(255, 255, 255);
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    
    justify-content: left;
    align-items: center;
    column-gap: 15px;
    padding-left: 10px;
   
    cursor: pointer;
}

#srcText{
    width: 100%;
    height: auto;
    padding-top: 15px;
   
   /* text-align: center; */

  
}

#srcText p{
    
   
    width: 50%;
    cursor:pointer;
   text-align: left;
    
}
#srcText p:hover{
   text-decoration: underline;
   
}

.srcBlocks{
    width: 100%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;

    padding:10px 0;

    transition: background 0.4s ease-in-out;

}
.srcBlocks:hover{
    background: rgb(255, 255, 255);
}

.checkBoxes{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    position: relative;
    -webkit-appearance: none;
    border: none;
   
    
}
.checkBoxes::before,.checkBoxes::after{
    content: '';
    position: absolute;
 
    background-image: url(../icons/empty_check.png);
    background-size: 20px;
    /* background-color: rgb(233, 180, 247); */
    width: 20px;
    height: 20px;
    /* z-index: 1000; */
    display: block;
    transition: opacity 0.2s ease-in-out;
}

.checkBoxes::after{
    background-image: url(../icons/filled_check.png);
    opacity: 0;
}

input.checkBoxes:checked::before{
    opacity: 0;
}

input.checkBoxes:checked::after{
opacity: 1;
}




#teqBlock{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding:5px 10px ;

    width: 100%;
    
   
}

#checkSwitches{
    margin-right: 30px;
}

#on,#off{
    width: 22px;
    cursor: pointer;
    
}
#slash{
    font-size: 1.7rem;
}


.quotes{
    font-size: 1.6rem;
    vertical-align:middle;
}




#contactCont{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 20px;
    font-size: 1.1rem;
    
  
}


.contactInfo{
   
    color: rgba(255, 255, 255, 0.5);
    
   
  
}

.contactInfo a{
    text-decoration: underline;
    color:rgba(255, 255, 255, 0.7);
}






#changeLog{
    position: absolute;
    top: 0;
    min-height: 35px;
    width: 500px;

    text-align: center;

    margin: 0 auto;
    padding: 5px 25px;
    
    color: White;

    cursor: pointer;
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(175, 175, 175);
    border-top: none;
    box-shadow:0 0px 7px 0 rgba(0, 0, 0,0.4);

    transition: background 0.4s ease-in-out,box-shadow 0.4s ease-in-out;
}
#changeLog h1{
    font-size: 1.5rem;
    font-weight: bold;
}
#changeLog p{
    font-size: 1.3rem;

    display: none;
    opacity: 0;
    margin-top: 50px;
    text-align: left;
}


@media screen and (max-width:520px) {
    


    #changeLog{
        width:450px;

    }
}


@media screen and (max-width:430px) {
    


    #arrowTitleCont,#btns,#srcList, #cardFirst,#changeLog{
        width:350px;

    }
}

@media screen and (max-width:350px) {
    
    html{
        font-size: 12px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst{
        width:300px;
    }

    .checkBoxes::after,.checkBoxes::before{
        background-size: 18px;
        width: 18px;
        height: 18px;
    }

    .srcBlocks{
        padding: 0px 0;
    }
    #checkSwitches{
        margin-right: 10px;
    }
    #changeLog{
        width: 320px;
    }
}

@media screen and (max-width:300px) {
    
    html{
        font-size: 10px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst{
        width:260px;
    }
}

@media screen and (max-width:280px) {
    


    #changeLog{
        width:300px;

    }
}

@media screen and (max-width:250px) {
    
    html{
        font-size: 10px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst,#changeLog{
        width:210px;
    }
}