@font-face {
    font-family: Play;
    src: url(../fonts/Play-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play-Regular.ttf);
    font-weight: 200;
}

*{
    font-family: Play;
    box-sizing: border-box;

    transition: background 0.4s ease-in-out, border 0.4s ease-in-out;
}

body{
    width: 100vw;
    min-height: 100vh;
   height: auto;
   overflow-y: scroll;
   overflow-x: hidden;

   scrollbar-width: 0;
   scrollbar-color: blue;
}

  body::-webkit-scrollbar {
    /* height: 12px; */
    width: 0px;

  }
  body::-webkit-scrollbar-track {
    
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
    
  }




input{
    border: 1px solid black;
    margin: 10px;
    width: 350px;
    height: 30px;
}

#btn,#btn2{
    width: 70px;
    height: 30px;
    border: 1px solid black;
}

#output{
    font-family: 'Arial';
    font-size: 1.2rem;
}



/* ----------------------------------- */

#container{
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.coverCard{
    margin: 20px; 
    margin-top: 50px;
    margin-bottom: 100px;
  
}


#cardFirst{
    width: 400px;
    min-height: 250px;
    height: auto;
    font-size: 1.2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 15px;

    padding: 15px 10px;
}

#textVerse{
    font-size: 1.4rem;
}

#srcVerse{
    font-size: 1.5rem;
    padding-bottom: 5px;
}

#srcList{
    width: 400px;
    min-height: 30px;
    font-size: 1.4rem;
   

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    column-gap: 15px;

}

#srcListImg,#srcListTitle{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#srcListImg > img{
    width: 20px;
}

#imgSrc{
    transition: transform 0.3s ease-in-out;
}

#btns{
    width: 400px;

    display: flex;
    justify-content: center;
   
}

.buttons{
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    

    border-bottom-left-radius: 10px;
    border-right: 1px solid rgb(185, 185, 185);
}
.buttons:nth-child(2){
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-right: 0px solid black;
    border-left: 1px solid rgb(119, 119, 119);
}
#arrowTitleCont{
    width: 400px;
    min-height: 40px;
    font-size: 1.3rem;

    display: flex;
    
    justify-content: left;
    align-items: center;
    column-gap: 15px;
    padding-left: 10px;
   
    cursor: pointer;
}

#srcText{
    width: 100%;
    height: auto;
    padding-top: 15px;

}

#srcText p{
    
   
    width: 50%;
    cursor:pointer;
   text-align: left;
    
}


.srcBlocks{
    width: 100%;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;

    padding:10px 0;

}


#themeCont{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5px; */
    column-gap: 5px;
    
    /* width: 50px; */
    
}
#themeCont p{
    padding: 3px;
}
.plusMinus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}







.checkBoxes{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    position: relative;
    -webkit-appearance: none;
    border: none;
   
    
}
.checkBoxes::before,.checkBoxes::after{
    content: '';
    position: absolute;
 
    background-size: 20px;
   cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    transition: opacity 0.2s ease-in-out;
}

.checkBoxes::after{
    opacity: 0;
}

input.checkBoxes:checked::before{
    opacity: 0;
}

input.checkBoxes:checked::after{
opacity: 1;
}




#teqBlock{
   
    display: flex;
    justify-content: space-between;
    padding:5px 10px ;

    width: 100%;
}

#checkSwitches{
    margin-right: 40px;
}

#on,#off{
    width: 22px;
    cursor: pointer;
    
}
#slash{
    font-size: 1.7rem;
    cursor: default;
}


.quotes{
    font-size: 1.6rem;
    vertical-align:middle;
}




#contactCont{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 20px;
    font-size: 1.1rem;
    
  
}




.contactInfo a{
    text-decoration: underline;
}






#changeLog{
    position: absolute;
    top: 0;
    min-height: 35px;
    height: auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 25px 30px;
    cursor: pointer;
    border-top: none;
 
}
#changeLog h1{
    font-size: 1.5rem;
    font-weight: bold;
}
#changeLog p{
    font-size: 1.3rem;

    display: none;
    opacity: 0;
    margin-top: 20px;
    text-align: left;
}



#points_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

#points_block p{
    font-size: 5rem;
}






/* Media BELOW ----------------------------------------------*/ 




@media screen and (max-width:520px) {
    


    #changeLog{
        width:450px;

    }
}


@media screen and (max-width:430px) {
    


    #arrowTitleCont,#btns,#srcList, #cardFirst,#changeLog{
        width:350px;

    }

    .checkBoxes{
        margin-right: 10px;
    }
    #checkSwitches{
        margin-right: 0px;
    }
    

    #srcText p{
        width: 60%;
    }
}

@media screen and (max-width:350px) {
    
    html{
        font-size: 12px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst{
        width:300px;
    }

    .checkBoxes::after,.checkBoxes::before{
        background-size: 18px;
        width: 18px;
        height: 18px;
    }

    .srcBlocks{
        padding: 0px 0;
    }
    #checkSwitches{
        margin-right: 10px;
    }
    #changeLog{
        width: 320px;
    }
}

@media screen and (max-width:300px) {
    
    html{
        font-size: 10px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst{
        width:260px;
    }
}

@media screen and (max-width:280px) {
    
.srcBlocks{
        column-gap:30px;
    }

    #changeLog{
        width:300px;

    }
}

@media screen and (max-width:250px) {
    
    html{
        font-size: 10px;
    }

    #arrowTitleCont,#btns,#srcList, #cardFirst,#changeLog{
        width:210px;
    }
}