#container{
    background: #d9d9d9;

}

.coverCard{
    background: #d9d9d9;
    border-radius:35px;
    /* box-shadow:  10px 10px 20px #b2b2b2,
    0px 10px 20px #b2b2b2,
    10px 0px 20px #b2b2b2,
    -10px -10px 20px #ffffff,
    0px -10px 20px #ffffff,
    -10px 0px 20px #ffffff; */
    box-shadow:  5px 5px 10px #b2b2b2,
    5px 0px 10px #b2b2b2,
    0px 5px 10px #b2b2b2,
    -5px -5px 10px #ffffff,
    0px -5px 10px #ffffff,
    -5px 0px 10px #ffffff;;
}
.coverCard:hover{
    /* box-shadow:  10px 10px 20px #b2b2b2,
    0px 10px 20px #b2b2b2,
    10px 0px 20px #b2b2b2,
    -10px -10px 20px #ffffff,
    0px -10px 20px #ffffff,
    -10px 0px 20px #ffffff; */
    box-shadow:  5px 5px 10px #b2b2b2,
             -5px -5px 10px #ffffff;
}

#cardFirst{
 
    background: #d9d9d9;
    border-bottom: 1px solid #757575;;
    color: black;
}

#srcVerse{
    border-bottom: 2px solid #353535;
    --webkit-border-bottom: 2px solid #353535;
}

#srcList{
    background: rgb(241, 241, 241);
    color: #000;

    --webkit-color:#000;

    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

#arrowTitleCont{

    background: #d9d9d9;
    --webkit-background: #d9d9d9;
    border-bottom: 1px solid #757575;;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

#srcText p:hover{
    text-decoration: underline;
    
 }

 .srcBlocks{
    transition: background 0.4s ease-in-out;
 }

 .srcBlocks:hover{
    background: rgb(255, 255, 255);
}

#themeCont p{
    background: rgb(241, 241, 241);
}

.plusMinus{
    color: white;
    background: rgb(107, 107, 107);
    border: 1px solid white;
}

.checkBoxes::before,.checkBoxes::after{
    background-image: url(../icons/empty_check.png);
}

.checkBoxes::after{
    background-image: url(../icons/filled_check.png);
}

#teqBlock{
    border-bottom: 1px solid rgb(59, 59, 59);
}

.buttons{
    background: #d9d9d9;
    border-bottom-right-radius: 35px;
}
.buttons:nth-child(2){
    border-bottom-right-radius: 35px;
}



.contactInfo{
   
    color: rgba(43, 43, 43, 0.7);
}

.contactInfo a{
    color:rgba(41, 41, 41, 0.9);
}

#changeLog{
    color: White;
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow:0 0px 7px 0 rgba(0, 0, 0,0.4);
    transition: background 0.4s ease-in-out,box-shadow 0.4s ease-in-out;
}